/* Resetting browser's default CSS */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  overflow-x: hidden;
  background: url(./images&icons/background.jpg) no-repeat center center fixed;
  background-size: cover;
}


/* Defining variables  */
:root {
  --backgroundcolor: #A61C5C;
  --eventinfocolor: #D9D4CC;
  --headercolor: #D92323;
  --navbarcolor: #BF2431;
  --transparentbackground: rgba(255, 255, 255, 0.2);
  --sidebarcolor: #D86370;
}


.burgermenuopen {
  float: right;
    display:none;
    flex-direction: column;
    background-color: var(--transparentbackground);
    margin: 1em;
    margin-right: 0em;

  }


  .burgermenuopen a {
    margin: 1vh;
  }

.burgermenu {
float: right;
  margin: 1em;
  margin-left: 0em;

  height: 50%;
}

.logo {
  position: relative;
  margin: .5em;
float: left;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    "hd hd hd  "
    "main main  main    ";
  padding: 0em 0em;
}


header {
  grid-area: hd;

}



main {
  grid-area: main;
}


.homepageflex {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: stretch;
    width: 90vw;
    margin-right: 1em;
    margin-left: 1em;
}

.homepageflex div {
    margin: 1em;
}



* {
  font-family: Helvetica, sans-serif
}

.eventgrid {
    min-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
  border-radius: 25px;
  padding: 1em;
  margin: 1em;
 background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.newsletter {
  display: flex;
  align-items: center;
  background-color: var(--transparentbackground);
  border-radius: 25px;
    min-width: 35%;
}

.signupform {
  display: flex;
  height: 2em;
}

.newsletter p {
  font-size: 10px;
}

.signupform .signuptextfield {
  border-radius: 25px 0px 0px 25px;
}


.signupform .signupbutton {
  border-radius: 0px 25px 25px 0px;
  background-color: red;
    font-weight: bold;
}

.support {
  text-transform: uppercase;
  color: white;
    font-weight: 700;
    font-size: 3em;
    padding-left: 1em;
padding-right: 1em;
}


.sidebar {
  position: fixed;
  background-color: var(--sidebarcolor);
  right:.1px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
}

.sidebar img  {
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 1vw;
padding-right: 1vw;
width: 50%;
}

.flexallevents {
  position: relative;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;



}

.eventstypes{
  display: flex;
  flex-direction: column;
}

.Upcoming, .Current, .Archive {
  display: none;
  position: relative;
  flex-direction: column;
  top: 20vh

}


.thankyou {
    line-height: 1.5em;
    opacity: 65%;
    padding-left: 2em;
    padding-right: 2em;

}
